@charset "utf-8";
/* CSS Document */

/* #Media Queries
================================================== */
/* Smaller than standard 1200px (devices and browsers) */
@media only screen and (max-width: 1200px) {
.container {
	width:90%;
	margin:0 auto;
}
}
@media only screen and (max-width: 1280px) {
header{
	/*padding:1%;*/
}


}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 600px) and (max-width : 1024px) {
/* Styles */

}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	
	
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
#main{
	  width:100%;
	  padding:0;
	  margin:0 auto;
	  padding-top:56px;
	}
header nav{
    width: 70%;
}
.ace-responsive-menu > li > a {
    padding: 5px 1px 5px 10px;
    font-size: 11px;
}
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
#main {
    margin:0 auto;
    padding:56px 0 0;
    width:100%;
}
header {
    background:#fff none repeat scroll 0 0;
    left:0;
    position:fixed;
    transition:height 0.3s ease 0s;
    width:100%;
    z-index:999;
}
header .logo{
	width:15%;
	}
header.smaller .logo{
	width:12%;
	}


}

@media only screen and (min-device-width : 480px) and (max-device-width : 767px) and (orientation : landscape) {
#main{
	padding:0px;
	}
header{
	padding:1% 0 2% 0!important;
	}
header.smaller {
    height:70px!important;
	}
header .logo {
    float:left!important;
    width:23%!important;
	position:absolute;
	left:20px;
	}
header nav {
    display:inline-block;
    float:right;
    padding:2% 2% 0 0!important;    
    width:100%;
	}

}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	width:100%;
	padding:15px;
}
header {
	width:100%;
	height:auto;
	position:relative;
}
header.smaller {
	/*top:0;*/
	/*height:220px;*/
	/*background-color:#fff;*/
}
header .logo {
    float:left!important;
    width:26%!important;
	position:absolute;
	left:20px;
	top:10px!important;
	}
header nav {
    display:inline-block;
    float:right;
    padding:4% 0 0 0;
    width:100%;
	}
header.smaller .logo {
	width:60%;
	text-align:center;
	margin:0 auto;
	float:none;
}
#main{
	padding:0px;
	}


}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape){

}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 768px) {
:root{
	--header-height: 62.33px;
}
/* Styles */
th, td {
    font-size: 12px;
}
p{
	text-align: justify;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	width:100%;
	padding:15px;
}
.fa_menuarrow{
	display:none!important;
	}
header {
width: 100%;
    height: auto;
    position: fixed; 
  
}
header.smaller {
	/*top:0;
	height:110px;
	background-color:#fff;*/
}
header .logo {
	float: left!important;
    width: 100px !important;
    /*position: absolute;
    left: 20px;
    top: 14px!important;*/
    z-index: 999;
}
header nav {
    display:inline-block;
    float:right;
    padding: 0;
    width:100%;
    margin-top: 0%;
}
header.smaller{	
	--header-height: 54.39px;
}
header.smaller nav{
	margin: 0;
}
.menu-toggle .icon-bar{
	background: #fff;
}
header.smaller .logo {
	width:60%;
	text-align:center;
	margin:0 auto;
	float:none;
}

#main {
    padding-top: var(--header-height) !important;
}
.ace-responsive-menu > li > a {
    padding: 5px 0 0 12px!important;
}
.ace-responsive-menu > li {
    padding: 8px 0!important;
}


[class*=width_]{
	width: 100%;
}
.ace-responsive-menu{
    position: absolute;
    right: 0;
    top: var(--header-height);
    margin: 0;
    background: #000;
}
.hero .inner_container .bg_image .txt{
	font-size: 45vw;
}

section{
	min-height: unset;
}
section .inner_container{
	flex-direction: column-reverse;
	justify-content: center;
	padding: 20vw 0 15vw;
}
section .left_pane{
	padding: 10vw 0 0 0;
	text-align: center;
}
section .left_pane .sub_heading br{
	display: none;
}
.section_2 .inner_container .left_pane{
	margin: unset;
}
.section_3 .inner_container .left_pane{
	margin: unset;
}
section.shoots_designed .lower_sec .images_wrapper .img_wrapper{
	width: 48.5%;
}
section.shoots_designed .upper_sec .line{
	width: 100%;
}
section.shoots_designed .upper_sec .right_pane .sub_heading{
	padding: 2vw 0 2vw 0;
	text-align: center;
}
.heading{
	text-align: center;
}
ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
ul li{
	padding: 0 0 2vw 4vw;
}
ul li::before{
	--size: 2vw;
    position: absolute;
    content: '';
    left: 0;
    top: calc(0.5 * var(--size));
}
.visibility{
	padding: 0;
}
.visibility .upper_sec{
	padding: 0;
}
.visibility .lower_sec .info_boxes_wrapper .info_box{
	width: 48%;
	padding: 0 0 10vw;
}
.visibility .lower_sec .info_boxes_wrapper .info_box .text_box .sub_title br{
	display: none;
}
.good_content{
	background: linear-gradient(315deg, #eaedf0 64%, var(--orange) 50%);
}

section.good_content .left_pane .sub_heading{
	padding-top: 5vw;
}
section.lot_of_text{
	padding: 20vw 0 15vw;
}
section.lot_of_text .text_box{
	margin: 0 0 8vw 0;
}
section.lot_of_text .text_box .text{
	font-size: 8vw;
}
section.lot_of_text .text_box:nth-child(5){
	padding: 0;
}
section.lot_of_text .text_box:nth-child(5) .right_txt{
	text-align: right;
	margin: 0 0 0 auto;
	padding: 5vw  5vw 0;
}

footer .inner_container{
	flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15vw 0 10vw;
}
footer .inner_container .title{
	padding: 0 0 2vw 0;
}
footer .inner_container .sub_title{
	line-height: 1.4;
}
footer .inner_container .link_text{
	padding: 0 0 1vw;
}
footer .inner_container .logo_box{
	padding: 0;
}
footer .inner_container .logo_box img{
	width: 50vw;
}
footer .inner_container .right_pane{
	width: 100%;
	text-align: center;
}
footer .inner_container .right_pane .upper_sec{
	padding: 8vw 0 5vw 0;
}
footer .inner_container .right_pane .lower_sec{
	padding: 0;
}
footer .inner_container .right_pane .lower_sec .info_box{
}
footer .inner_container .right_pane .lower_sec .info_box:first-child{
	padding: 5vw 0;
	border: none;
	border-bottom: 1px solid #000;

}
footer .inner_container .right_pane .lower_sec .info_box:nth-child(2){
	padding: 5vw 0;
}

.owl-carousel.owl-theme .owl-nav button{
	position: absolute;
	top: calc(50% - 15px);
	margin: 0;
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	/*color: var(--blue);*/
}
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover{
	color: var(--blue);
	background: unset;
}
.owl-carousel.owl-theme .owl-nav button.owl-prev{
	left: -22px;
}
.owl-carousel.owl-theme .owl-nav button.owl-next{
	right: -22px;
}
.owl-carousel.owl-theme .owl-nav button span{
	font-size: 35px;
}











}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

