:root{
	--header-height: 92.72px;
	--orange: #ed6935;
}
html, body, #wrapper {
 height: 100%;
 font-family: "Raleway", sans-serif;
 } 

body > #wrapper {height: auto; min-height: 100%; background:#fff ;
	}
#main{
	  width:100%;
	  padding:0;
	  margin:0 auto;
	  padding-top: 0;
	}
*{
	padding:0;
	margin:0;
	}
body{
	background: #000;
}
table{
	width: 100%;
}
table, th, td {
    border: 1px solid #1a5f80;
    border-collapse: collapse;    
}
th, td {
    padding: 10px;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    text-align: center;
}
th {
    background-color: #104660;
    color: #fff;
}

a{
	cursor: pointer;
	display: inline-block;
}

span{
	display: inline-block;
}

p{
	font-family: "Raleway", sans-serif;
	font-size: clamp(12px, 1.1vw, 16px);
	line-height: 1.4;
	color: #fff;
	padding: 0 0 15px 0;
}

/* #Grid system
================================================== */
.container{
	width:1170px;
	margin:0 auto;
	}
.contain_90{
	width: 90%;
	margin:0 auto;
}
.container:before, .container:after, .row:before, .row:after{
	content:"";
	display:table;
	}
.container:after, .row:after{clear:both;}
.row{
	margin-left:-10px;
	margin-right:-10px;
	}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
	position:relative;
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	float:left;
	}

.col-sm-12{width:100%;}
.col-sm-11{width:91.66666667%;}
.col-sm-10{width:83.33333333%;}
.col-sm-9{width:75%;}
.col-sm-8{width:66.66666667%;}
.col-sm-7{width:58.33333333%;}
.col-sm-6{width:50%;}
.col-sm-5{width:41.66666667%;}
.col-sm-4{width:33.33333333%;}
.col-sm-3{width:25%;}
.col-sm-2{width:16.66666667%;}
.col-sm-1{width:8.33333333%;}
.flt-right { float: right; }
.flt-left { float: left; }

.clr{
	clear:both;
	}

/* =Header
-------------------------------------------------------------- */
header {
	width: 100%;
	position: fixed;
	top:0px;
	left: 0;
	z-index: 999;
	padding: 0%;
	background:#fff0;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}
header .inner_container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header .logo {
	width:15%;
	float: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	padding:5px 0 0 0;
}
header nav {
	display: inline-block;
	float: right;
	padding: 0% 0% 0% 0%;
	background-color: transparent;
	/*margin-top: 5px;*/
	width: unset;
}
header.smaller {
	top:0;
	background-color: transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background:#fff;
	padding: 1% 6% 0.5% 7%;
}
header.smaller .logo {
	width:14%;
}
header.smaller nav {
	display: inline-block;
	float: left;
	padding:0% 0% 0% 7%;
	margin-top: 1.5%;
}
section{
	min-height: 100vh;
	display: flex;
	position: relative;
	z-index: 1;
}
section .container{
	display: flex;
}
section .contain_90{
	display: flex;
}
section .inner_container{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	width: 100%;
}
.hero .inner_container .bg_image{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
.hero .inner_container .bg_image .txt{
	font-size: 40vw;
    font-weight: 900;
    z-index: -1;
    opacity: 0.5;
}
.line{
	position: absolute;
	left: 0;
	width: 100%;
	background: var(--orange);
	height: 2px;
	z-index: -1;
}
.width_40{
	width: 40%;
}
.width_50{
	width: 50%;
}
.width_60{
	width: 60%;
}

.heading{
	font-size: clamp(20px, 3vw, 100px);
    color: #fff;
    padding: 0 0 2vw 0;
}
.sub_heading{
	font-size: clamp(12px, 1.1vw, 30px);
	line-height: 1.4;
	color: #969696;
	font-weight: 500;
    padding: 2vw 0 0 0;
}
/*hero*/
section img{
	max-height: 90vh;
}
section .left_pane .sub_heading{
	padding-bottom: 2vw;
}
section .left_pane .sub_heading p:last-child{
	padding: 0;
}

/*section_2*/
.section_2{
	background: #ffffff;
}
.section_2 .inner_container{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	width: 100%;
}
.section_2 .inner_container .left_pane{
	margin: auto 0 20vh 0;
}
.section_2 .inner_container .left_pane .heading{
	color: #000;
}
.section_2 .inner_container .left_pane .sub_heading p{
	color: #000;
}
.section_2 .inner_container .right_pane{
	margin: auto 0;
}
.section_3 .inner_container .left_pane{
	margin: auto 0 10vh 0;
}
section.shoots_designed{
	background: #e8eaec;
}
section.shoots_designed .upper_sec{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	padding: 2vw 0;
	width: 100%;
}
section.shoots_designed .upper_sec .left_pane{
	margin: 0 0 0.7vw 0;
}
section.shoots_designed .upper_sec .heading{
	color: #000;
}
section.shoots_designed .upper_sec .line{
	width: 58vw;
}
section.shoots_designed .upper_sec .right_pane .sub_heading{
	padding: 0 0 1vw 0;
}
section.shoots_designed .upper_sec .right_pane .info_box ul li{
	color: #000;
    font-size: clamp(12px, 1.2vw, 25px);
    font-weight: 600;
    padding: 0 0 0.7vw 2vw;
    position: relative;
}
section.shoots_designed .upper_sec .right_pane .info_box ul li::before{
	--size: 1vw;
	position: absolute;
	content: '';
	left: 0;
	top: calc(0.2 * var(--size));
	width: var(--size);
	height: var(--size);
	background: url(../images/icons/circle.png) no-repeat;
	background-size: contain;
	background-position: center;
}
section.shoots_designed .upper_sec .right_pane .info_box ul li:last-child{
	padding-bottom: 0;
}